.pop-up {
  background: rgba(0,0,0,.50);
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;

 }
 
 .pop-up-content {
   margin-left: 50px;
   margin-top: 50px;
   border-radius: 20px;
   height: 250px;  
   width: 515px;
   background-color: white;
   display: flex;
   padding: 12px;
 }
 
 .pop-up-left-content {
   display: block;

 }


 .close-button {
  border: none;
  background-color: white;
  padding: 8px;
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  transition: background-color .15s;
  cursor: pointer;  
 }

 .close-button:hover{
    background-color: rgb(219, 216, 216);
 }

 .close-logo {
  width: 12px;
 }

 .account-logo {
  width: 56px;
  margin-top: 4px;  
 }

 .img-logo {
  width: 20px;
  margin-right: 12px;
 }

 .gif-logo {
  width: 20px;
 }

 .pop-right-content {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-left: 5px;
  padding-right: 5px;
 }

 .tweet-text-area {
  font-family:TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 50%;
  outline:none;
  border: none;
 }

 .tweet-box-footer {
  display: flex;
  justify-content: space-between;
 }
 
 .tweet-button-3 {
  background-color: rgb(29, 155, 240);
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 18px;
  padding-left: 18px; 
  border-radius: 48px;
  color:white;
  border:none;
}

.tweet-button-3 .text {
  font-size: 16px;
}
.tweet-button-3:hover{
  background-color: rgb(23, 135, 211);
}
